# Ignore database files
db.*

# Ingore api keys
/scripts/twitter_api/api_keys.yml

# Ignore .pyc files
**.pyc

# Ignore .DS_Store files because if one of those ends up in this repo I might
# literally commit suicide
**.DS_Store
