p {
    font-size: 16px;
}

span.glyphicon.glyphicon-search {
    height: 20px;
    padding-top: 2px;
}

.trending {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);;
}

.page-heading {
    color: grey !important;
}

.heading {
    font-weight: 300;
}

.alert {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.info-header {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

.hidden {
    display: none;
}

.control-label {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.center-on-page {
    display: inline-block;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

img.rating-icon {
    height: 40px;
    margin-bottom: 5px;
}

.center-block {
    max-height:300px;
    margin: auto;
    border-radius: 3px;
}

.about {
    margin-bottom: 50px;
}

.about-heading {
    margin-bottom: 20px;
    color: grey;
}

.col-sm-4 {
    padding: 5px;
}

.no-padding {
    padding: 0px !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#pie-chart {
    display: inline-block;
}

#bubble-chart, #line-chart {
    display: inline-block;
    margin-top: 30px;
}

#movieinfo img{
    vertical-align: middle;
}

#movieinfo {
    text-align: left;
    background-color: gray;
}

#id-query {
    width: 445px;
}
