.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.info-header {
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

#movieinfo img{
    vertical-align: middle;
}

#movieinfo {
    text-align: left;
    background-color: gray;
}
