<head>
    <title> SilverScreen </title>

    {# Load stylesheets #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>

    {# Load Chart.js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">SilverScreen</a>
                <form class="form navbar-form navbar-left" id="query-form" action="/results/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" id="id-query" class="form-control" name="query" placeholder="Search for a movie">
                        <span class="input-group-btn">
                            <button type="submit" id="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <a href="{% url 'about' %}" class="navbar-text navbar-right" style="margin-right: 5px;">About</a>
        </div>
    </nav>

    <div class="container-fluid" style="max-width: 800px;">

        <h2 class="about-heading"> What is Silver Screen? </h2>
        <p class="about">
            Silver Screen is a web application that allows the user to assess sentiment expressed within relevant movie related tweets. Silver Screen was developed for the Fall 2016 session of CPEN 321 (Software Engineering) at the University of British Columbia.
            <br><br>
            Silver Screen gathers information from the Internet Movie Database (IMDb), Rotten Tomatoes, and Twitter to present the user with information comparing the results of sentiment analysis and human generated movie reviews. Tweets about a movie requested by the user are passed through the sentiment analysis engine and assigned a sentiment score. These scores are aggregated and presented to the user alongside data from IMDb and Rotten Tomatoes. Using the results from sentiment analysis, the user can easily compare what people are saying about a movie on Twitter to existing movie reviews.
        </p>

        <h2 class="about-heading"> What is Sentiment Analysis? </h2>
        <p class="about">
            Sentiment analysis is a sub-field of machine learning that utilises natural language processing and text analysis to computationally identify a writer’s attitude in a piece of text. Having a computer examine a piece of text and understand it’s underlying meaning is a difficult task and the area of sentiment analysis is continually researching new ways to identify attitudes in writing.
            <br><br>
            The main objective of the Silver Screen analysis engine is to take a tweet and identify whether the attitude of the tweet towards a movie is positive, neutral, or negative. This attitude is expressed in terms of a score from 0 to 10, where 0 is the most negative and 10 is the most positive. The Silver Screen sentiment analysis engine examines several different language features to determine the final score, such as: presence of negation words, positivity/negativity of adverbs, and capitalised words.
        </p>

        <h2 class="about-heading"> How can I use Silver Screen? </h2>
        <p class="about">
            Start by entering the title of the movie into the search bar and select search. Or, if you just want to explore, hit enter with a blank search bar to get the results for a random movie! After selecting to search, Silver Screen will gather data from Twitter and perform analysis (you see a loading page while these tasks complete). Finally, you will be shown the results of your request on a new page.
        </p>

        <h2 class="about-heading"> What is shown on the results page? </h2>
        <p class="about">
            On the top of this page, you will find a section containing a summary of the movie with various information such as the IMDB rating, Rotten Tomatoes rating, and basic sentiment score. Farther down the page, you will see several graphs showing the results of the sentiment analysis in more detail. A quick summary of the graphs is shown below:
            <br><br>

            On the top of the results page, you will find a section containing a summary of the movie with various information such as the IMDB rating, Rotten Tomatoes rating, and basic sentiment score. Farther down the page, you will see several graphs showing the results of the sentiment analysis as well as a sample of tweets that were processed to find the sentiment score. A quick summary of the graphs is shown below.
        </p>

        <h3 style="color: grey">Average Sentiment Intensity Over Time:</h3>
        <p class="about">
            This graph shows how the average positive and negative sentiment changed over time. The information is plotted with the date as the x-axis and the sentiment score set as the y-axis. To make this chart both positive tweets and negative tweets are aggregated and averaged over a time period and this average is plotted. Hovering over points on the chart will show the date and average score of that point. This graph gives an idea of how sentiment score on average changes over time.
        </p>

        <h3 style="color: grey">Individual Tweet Sentiment Over Time:</h3>
        <p class="about">
            This graph shows how the sentiment scores of individual tweets are distributed over time. The x-axis is the date and the y-axis is the sentiment score of the tweet. This graph gives an idea of how the tweets are distributed over the time period and how many positive and negative tweets are in a given time period.
        </p>

        <h2 class="about-heading"> Where can I find out more? </h2>
        <p class="about">
            <a href="https://github.com/bfbachmann/Silver-Screen">View our Github repo</a>
            <br><br>
            <a href="https://github.com/bfbachmann/Silver-Screen/wiki">Read our project wiki on Github</a>
        </p>

    </div>


</body>
