{% load static %}

{% if error_message is not None %}
    <div class="alert alert-danger align-center" role="alert" with='100%'>
        {{ error_message }}
    </div>
{% endif %}
<div class="align-left" style="max-width: 80%; margin: auto;">
    <h1> {{ movie.Title }}
	{% if messages %}
		{% for message in messages %}
			<span class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-original-title="{{message}}" style="color:silver; font-size: 0.8em;"></span>
		{% endfor %}
	{% endif %}
	</h1>
    <hr>
    <div class="well full-width clearfix">

        <!-- BEGIN MOVIE MOVE POSTER, INFO, AND PIE CHART -->
        <div class="container-fluid" style="width: 100%; padding: 0px;">

            <!-- BEGIN MOVIE POSTER -->
            <div class="col-sm-3 align-center">
                <img src="{{ movie.Poster }}" class ="center-block img-responsive" />
                <h3 class="info-header align-center">
                    <img class="rating-icon" src="{% static "imdb.png" %}" alt="IMDB"/> {{movie.imdbRating}}
                    <img class="rating-icon" src="{% static "rt.png" %}" alt="Rotten Tomatoes"/> {{movie.tomatoRating}}
                </h3>
            </div>
            <!-- END MOVIE POSTER -->

            <div class="no-padding col-sm-4">

                <!-- BEGIN MOVIE DATA SUMMARY -->
                <h3 class="info-header"> Sentiment Score:
                    {% if overall_score < 5 %}
                        <strong style="color: red;">{{ overall_score }}</strong>
                    {% else %}
                        <strong style="color: green;">{{ overall_score }}</strong>
                    {% endif %}
                </h3>
                <h3 class="info-header">Polarity: {{polarity}}%</h3>
                {% if movie.tomatoConsensus and movie.tomatoConsensus != "N/A" %}
                <p style="margin-bottom: 10px; color: grey;">Tomato Consensus: </p>
                <em>"{{movie.tomatoConsensus}}"</em>
                {% endif %}
                <!-- END MOVIE DATA SUMMARY -->

                <!-- BEGIN MOVIE INFO -->
                <div style="margin-top: 20px;">
                    {% if movie.Genres and movie.Genres != "N/A" %}
                    <div class="row">
                        <div class="col-md-3">
                            <p style="color: gray;">Genre: </p>
                        </div>
                        <div class="col-md-9">
                            <p>{{movie.Genres}}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if movie.BoxOffice and movie.BoxOffice != "N/A" %}
                    <div class="row">
                        <div class="col-md-4">
                            <p style="color: gray;">Box Office: </p>
                        </div>
                        <div class="col-md-8">
                            <p>{{movie.BoxOffice}}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if movie.Director and movie.Director != "N/A" %}
                    <div class="row">
                        <div class="col-md-4">
                            <p style="color: gray;">Director: </p>
                        </div>
                        <div class="col-md-8">
                            <p>{{movie.Director}}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-4">
                            <p style="color: gray;">Year: </p>
                        </div>
                        <div class="col-md-8">
                            <p>{{movie.Year}}</p>
                        </div>
                    </div>
                </div>
                <!-- END MOVIE INFO -->

            </div>

            <!-- BEGIN PIE CHART -->
            <div class="no-padding col-sm-5">
                <canvas id="pie-chart"></canvas>
            </div>
            <!-- END PIE CHART -->

        </div>
        <!-- END MOVIE POSTER, INFO, AND PIE CHART -->

    </div>

    <!-- BEGIN GRAPHS -->
    <div class="algin-left" style="width: 100%; margin-top: 10px;">
        <div class="align-left">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="pill" href="#chart1">Average Sentiment Over Time</a></li>
                <li><a data-toggle="pill" href="#chart2">Individual Tweet Sentiment Over Time</a></li>
            </ul>
        </div>

		<!-- BEGIN CHART AREA -->
        <div class="tab-content align-center">
            <div id="chart1" class="tab-pane fade in active">
                <canvas id="line-chart"></canvas>
            </div>
            <div id="chart2" class="tab-pane fade">
                <canvas id="bubble-chart"></canvas>
            </div>
        </div>
		<!-- END CHART AREA -->

    </div>
    <!-- END GRAPHS -->

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 20px;">
		<div class="panel panel-default">

			<!-- BEGIN PANEL LABEL -->
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				<div class="panel-heading align-center" role="tab" id="headingOne">
					<h4 class="panel-title">Curated Tweets</h4>
				</div>
			</a>
			<!-- END PANEL LABEL -->

			<!-- BEGIN TWEETS -->
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" style="max-width: 800px; margin: auto;">
				<div class="panel-body">
					<hr>
					{% for tweet in tweets %}
						<div class="container-fluid">
							<div class="col-sm-10">
								<p>
									<strong style="color: 55acee;"> @{{ tweet.user_screen_name }} </strong>
									&nbsp; <small style="color: grey;"> {{ tweet.created_at }} </small>
								</p>
								<p>{{tweet.text}}</p>
								<p>
									<span class="glyphicon glyphicon-heart" style="color: red;"></span>
									{{ tweet.favorite_count }} &nbsp; &nbsp;
									<span class="glyphicon glyphicon-share" style="color: #55acee;"></span>
									{{ tweet.retweet_count }} &nbsp; &nbsp;
									{% if tweet.location and tweet.location != '' %}
										<span class="glyphicon glyphicon-map-marker"></span>
									{{ tweet.location }}
									{% endif %}
								</p>
							</div>
							<div class="col-sm-2">
								{% if tweet.sentiment_score < 5 %}
									<h4 class="align-right" style="color: red;"> {{ tweet.sentiment_score }} </h4>
								{% else %}
									<h4 class="align-right" style="color: green;"> {{ tweet.sentiment_score }} </h4>
								{% endif %}
							</div>
						</div>
						<hr>
					{% endfor %}
				</div>
			</div>
			<!-- END TWEETS -->

		</div>
	</div>
</div>

<script>

	var pos_data = [{% for datum in positive_data %}"{{datum.tweet|escapejs}}",{% endfor %}]
	var neg_data = [{% for datum in negative_data %}"{{datum.tweet|escapejs}}",{% endfor %}]

	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip({
			placement : 'bottom'
		});
	});

    $('#query-form').submit(function() {
        $('#submit').addClass('disabled')
        $('.navbar-loader').removeClass('hidden')
    })

    // Begin Line Chart

    var lineChartCtx = $('#line-chart');
    var lineChart = new Chart(lineChartCtx, {
        type: 'line',
        data: {
            datasets: [ {
                       label: 'Negative Tweets',
                       fill: false,
                       data: [
                           {% for datum in negative_avgs %}
                                { x: "{{ datum.x }}", y: {{ datum.y }} },
                           {% endfor %}
                       ],
                       backgroundColor:"#FF6384",
                       borderColor: "#FF6384",
                       hoverBackgroundColor: "#FF6384",
                   }, {
                       label: 'Positive Tweets',
                       fill: false,
                       data: [
                           {% for datum in positive_avgs %}
                                { x: "{{ datum.x }}", y: {{ datum.y }} },
                           {% endfor %}
                       ],
                       backgroundColor: "#00DD99",
                       borderColor: "#00DD99",
                       hoverBackgroundColor: "#00DD99"
                   } ]
               },
        options: {
                title: {
                    display: true,
                    fontSize: 26,
                    text: 'Average Sentiment Intensity Over Time'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            max: 100,
                            min: 0,
                        }
                    }]
                }
            }
    });

    // Begin Bubble Chart

	var chart1Ctx = $('#bubble-chart');
   	var chart = new Chart(chart1Ctx,{
   		type: 'bubble',
   		data: { datasets: [ {
   					   label: 'Negative Tweets',
   					   data: [
   						   {% for datum in negative_data %}
   								{ x: "{{ datum.x }}", y: {{ datum.y }}, r: {{ datum.r }} },
   						   {% endfor %}
   					   ],
   					   backgroundColor:"#FF6384",
   					   hoverBackgroundColor: "#FF6384",
   				   }, {
   					   label: 'Positive Tweets',
   					   data: [
   						   {% for datum in positive_data %}
   								{ x: "{{ datum.x }}", y: {{ datum.y }}, r: {{ datum.r }} },
   						   {% endfor %}
   					   ],
   					   backgroundColor: "#00DD99",
   					   hoverBackgroundColor: "#00DD99"
   				   } ]
                },
       		options: {
   				tooltips: {
   					enabled: true,
   					mode: 'single',
   					callbacks: {
   						label: function(tooltipItems, data) {
   							if(tooltipItems.datasetIndex == 1)
   								return pos_data[tooltipItems.index];
   							//else
   								return neg_data[tooltipItems.index]
   						}
   					}
   				},

   				scales: {
   					xAxes: [{
   						type: 'time',
   						time: {
   							unit: 'day'
   						}
   					}],
   					yAxes: [{
   						ticks: {
   							max: 100,
   							min: 0,
   						}
   					}]
   				}
   			}
   	});

    // Begin Pie Chart

    var pieChartCtx = $('#pie-chart');
    var pieChart = new Chart(pieChartCtx, {
        type: 'pie',
        data: {
            labels: [
                "Negative",
                "Neutral",
                "Positive",
            ],
            datasets: [{
                data: [
                    {{ negative_count }},
                    {{ neutral_count }},
                    {{ positive_count }},
                ],
                backgroundColor: [
                    "#FF6384",
                    "#0099FF",
                    "#00DD99",
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#0099FF",
                    "#00DD99",
                ],
                label: 'Sentiment Scores'
            }]
        },
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Tweets by Senitment'
            }
        }
    });
</script>
