<head>
    <title> SilverScreen </title>

    {# Load stylesheets #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="align-center">
        <div class="jumbotron align-left">
            <h1 style="padding-left: 40px;"> SilverScreen </h1>
            <h2 style="padding-left: 40px;"> Twitter Sentiment Analysis Tool </h2>
        </div>
        {% if error_message is not None %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div id="query-form" class="form-inline align-center" style="margin: 50px;">
            <h4> Search Twitter for a Movie: </h4>
            <form action="/results/" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button id="submit" type="submit" class="btn btn-primary">Search</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div class="loader center-on-page hidden"></div>

    <script type="text/javascript">
        $('#query-form').submit(function() {
            $('#submit').addClass('disabled')
            $('.loader').removeClass('hidden')
        })
    </script>
</body>
