<head>
    <title> SilverScreen </title>

    {# Load stylesheets #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container-fluid" style="max-width: 510px; margin-top: 200px;">
        <div class="page-heading align-left">
            <h1 class="heading" style="font-size: 90px; margin-bottom: 0px;"> SilverScreen </h1>
            <h2 class="heading" style="margin-top: 0px; margin-bottom: 50px;"> Twitter Sentiment Analysis Tool </h2>
        </div>
        {% if error_message is not None %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
        <div id="query-form" class="form-inline align-center center-form">
            <form action="/results/" method="post" class="form">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-btn">
                        <input type="text" id="id-query" class="form-control" name="query" placeholder="Search for a movie">
                        <span class="input-group-btn">
                            <button type="submit" id="submit" class="btn btn-primary">Search</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <div class="loader center-on-page hidden"></div>

    <script type="text/javascript">
        $('#query-form').submit(function() {
            $('#submit').addClass('disabled')
            $('.loader').removeClass('hidden')
        })
    </script>
</body>
