<head>
    <title> SilverScreen </title>

    {# Load stylesheets #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Load Chart.js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>

    {# Load the tag library #}
    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">SilverScreen</a>
            </div>
            <ul class="nav navbar-nav">
                <form class="form navbar-form navbar-left" id="query-form" action="/results/" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" id="id-query" class="form-control" name="query" placeholder="Search for a movie">
                        <span class="input-group-btn">
                            <button type="submit" id="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'about' %}" class="navbar-text navbar-right" style="margin-right: 5px;">About</a></li>
                <li><a href="{% url 'overview' %}" class="navbar-text navbar-right" style="margin-right: 5px;">Overview</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="max-width: 2000px;">
		<h1>Data Overview</h1>
		<hr />
        <div class="row equal">
            <div class="container">
                <div class="container">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body align-center">
                                <a href="{{best_movie.tomatoURL}}" target="_blank">
                                    <img class="img-responsive" src="{{best_movie.Poster}}" alt="{{best_movie.Title}}" style="display: inline-block;">
                                </a>
                            </div>
                            <div class="panel-footer">
                                <div class="container-fluid" style="padding: 0;">
                                    <div class="col-sm-10">
                                        <h4><b>Highest Rated Movie</b></h4>
                                    </div>
                                    <div class="col-sm-2 align-right">
                                        <h4><b>{{best_score.sentimentScore}}</b></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body align-center">
                                <a href="{{worst_movie.tomatoURL}}" target="_blank">
                                    <img class="img-responsive" src="{{worst_movie.Poster}}" alt="{{worst_movie.Title}}" style="display: inline-block;">
                                </a>
                            </div>
                            <div class="panel-footer">
                                <div class="container-fluid" style="padding: 0;">
                                    <div class="col-sm-10">
                                        <h4><b>Lowest Rated Movie</b></h4>
                                    </div>
                                    <div class="col-sm-2 align-right">
                                        <h4><b>{{worst_score.sentimentScore}}</b></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="min-width=100%">
                        <div class="row">
                            <div class="well text-center">
                                <h4>Number of Movies Analysed</h4>
                                <h2><b>{{num_movies}}</b></h4>
                                </div>
                                <div class="well text-center">
                                    <h4>Number of Tweets Analysed</h4>
                                    <h2><b>{{num_tweets}}</b></h4>
                                    </div>
                                    <div class="well text-center">
                                        <h4>Average Sentiment Score</h4>
                                        <h2><b>{{avg_sentiment}}</b></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
